.nav-links{
    color: #2bb388 !important;
    cursor: default !important;
}
.nav-tabs > li.active > a{
    background: #EAF5F2 !important;
}

.disable-button{
    padding: 10px;
}

.disable-button button{
    padding-left: 10px;
}

.ant-table-thead>tr>th{
    background: #E2EFE7;
}

.ant-collapse{
    background: #E2EFE7;
}
.mainframe-wrapper{
    margin-top: 10px;
}
.content-wrapper{
    min-height: 500px;
}