

body{
    color: #3d4347;
    background: #f4f8f9;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

a, a:hover{
	text-decoration: none;
    cursor: pointer;
}
.main-header{
    background: #595a60;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.main-header .navbar-default{
    margin: 0px;
    padding: 0;
}
.sidebar{
    display: block;
    width: 60px;
    position: fixed;
    left: 0;
    top: 50px;
    height: 100%;
    background: #fff;
    -webkit-box-shadow: 2px 0 5px 0 rgba(51, 51, 51, 0.10);
    box-shadow: 2px 0 5px 0 rgba(51, 51, 51, 0.10);
    z-index: 99;
}
.sidebar ul{
    display: block;
    margin: 0;
    padding: 0;
}
.sidebar li{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    }
    .sidebar li a{
        display: block;
        cursor: pointer;
        margin: 0;
            padding: 8px 10px;
            text-align: center;
            color: #555;
            font-size: 15px;
            border-bottom: #ddd solid 1px;

    }
.sidebar li.active a,.sidebar li a:hover{
    background:#949fb1;
    color: #fff; 
}
.sidebar li a i{
display: inline-block;
margin: 0;
padding: 0;
font-size: 18px;
}
.sidebar li a .patient-search{
    display: inline-block;
    width: 21px;
    height: 20px;
    background: url('../images/patient-black.png');
}
.sidebar li a:hover .patient-search, .sidebar li.active a .patient-search{
    background: url('../images/patient-color.png');
}
.wrapper{ 
    display: block;
    padding: 15px;
    margin-left: 60px;
}
.rc-pagination {
	display: block;
	text-align: right;
}
.rc-pagination-item, .rc-pagination-prev, .rc-pagination-next, .rc-pagination-jump-next{
	display: inline-block;
	float: none !important;
}

.vis-even{
    background-color: #e6faff;
}
.vis-odd{
    background-color: #f5f5f0;
}
.vis-item-content{
    color: black;
}
.vis-item .vis-item-content{
    font-size: 11px;
    padding: 2px !important;
}
.input-select{
    display: block;
    margin-bottom: 15px;
    padding-left: 15px;
}
.input-select select{
    display: inline-block;
    width: 50% ;
    padding: 10px;
    border: 1px solid #cacaca;
    font-size: 13px;
    color: #0a0a0a;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    border-radius: 0;
    }
   .input-select select option{
    padding: 20px 0 !important;
    display: block;
    min-height: 50px;
   }
.date-block, .key-block {
    display: block;
    margin: 18px 0;
}
.date-block label, .key-block label{line-height: 35px;
    font-weight: normal;

}
.date-block input, .key-block input{
    display: block;
    width: 100% !important;
    padding: 10px;
    border: 1px solid #cacaca;
    font-size: 13px;
    color: #0a0a0a;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    border-radius: 0;
}
.submit-pane{
    display: block;
    margin-top:10px;
    padding-left: 15px; 
}
.submit-pane button{
    display: inline-block;
    border: #337ab7;
    background: #337ab7;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
}
.separator{
    display: block;
    margin: 2px auto;
    height: 2px;
    background: #ddd;
    width: 95%;
}
.filter-tokenizer{
    padding: 0 !important;
}
.number-block{
    padding-left: 3px;
}
@media (max-width: 768px){
    .number-block{
    padding-left: 0px;
}
}
.Select{
    margin-right: 3px;
}
@media (max-width: 768px){
.Select{
    margin-right: 0px;
}
}
.user-details {
    color: #330000;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.button-add{
    display: block;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 15px;
}

.button-group{
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border: #337ab7 solid 1px;
    text-align: center;

}
.button-group [class*="col-"]{
    margin-bottom: 8px;
}
.button-group button{
    margin-right: 3px;
}
.to-mar-top{
    margin-top: 20px;
}
.to-mar-top .table tr td:first-child{
    font-weight: bold;
}
.copy-text{
    display: inline-block;
    padding-top: 12px;

}
.search-result{
    display: block;
    padding-top: 15px;
}
.filter-input-group{
    padding: 4px !important;

}
.search-block{
    display: block;
    margin-bottom: 6px;
}
.search-block [class*="col-"]{
    padding: 0;
    margin-bottom: 8px;
}

.view-icon{
    display: inline-block;
    background:require('../images/debuger.png'); 
}


.number-block .form-control{
    padding: 16.5px 10px;
    text-align: center;
}
/* Loader */

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}






.ReactModalPortal{
    position: relative;
}
.ReactModalPortal h2{
    margin: 0;
    padding: 0;
    color: #00aeef !important;
    font-size: 16px;
}
.ReactModalPortal .close-answer{
    position: absolute;
    top: 4px;
    right: 4px;
    width: 15px;
    height: 15px;
    -webkit-border-radius:50%;
    border-radius: 50%;
    background: #ddd;
    color: #00aeef;
    font-size: 11px;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}
.ReactModalPortal textarea{
    width: 100%;
    border: #ddd solid 1px;
    margin: 6px 0;
    height: 300px;
}
.ReactModalPortal button{
    padding: 4px 6px;
    background: #00aeef;
    border: #00aeef solid 1px;
    color: #fff;
    float: right;
}
.ReactModal__Overlay div {
    width: 500px;
}
.back-btn{
    margin-bottom: 15px;
    display: inline-block;
    color: #555;
}
.back-btn i{
    display: inline-block;
    margin-right: 6px;
}
.timeline a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.Select-clear{
    display: none !important;
}
.Select-clear-zone[title]{
    display: none!important;
}

.mesurment-list{
    margin: 0;
    padding: 20px;
    display: block;
    width: 55%;
    border: #ddd solid 1px;

}
.mesurment-list li{ 
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    float: left;
    border: #ddd solid 1px;
    margin-top: 7px;
    }
    .mesurment-list li span{
        display: block;
        text-align: center;
    }
    .mesurment-list li span.first{
        background: #ccc;
        padding: 8px 30px;
    }
     .mesurment-list li span.last{
        padding: 20px 0;
        font-size: 18px;
    }

.tl-timeline h2.tl-headline-title{
    font-size: 18px !important;
    line-height: 22px !important;
    color:#00aeef;

}
.to-padding-remove{
    padding-left: 4px;
    padding-top: 2px;
}
/*========
override
==========*/

.panel-primary .panel-heading h3{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}
.navbar-default{
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0px;
    height: 0px;
}
.navbar-brand{
    padding:5px 0px;
    width: 140px;
    height: auto;
    margin: 0px !important;
    overflow: hidden;
}


.myTimeline{
    height: 500px !important;
}
.table-responsive .table td{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

}
.single-data .table td:first-child{
    width: 120px;
    }
.table-responsive .table td span{ 
    display: inline-block;
    margin-right: 6px;
    }
    .header-btn-group,.add-field-btn{
        display: block;
        margin-bottom: 15px;
        clear: both;

    }
    .header-btn-group button{
        margin-right: 8px;
        font-size: 16px;
    }
    .add-field-btn button{
            margin-right: 8px;
            font-size: 16px;
        }

.clone-item{
    margin-bottom: 15px;
}
.numerator, .denominator{
    display: block;
    position: relative;
}
.numerator:after, .denominator:after{
    position: absolute;
    top: 50%;
    margin-top: -17px;
    right: -16px;
    font-size: 22px;
    color: #555;

}
.numerator:after{
    content: '/';
}
.denominator:after{
    content: '=';
}
.measure{
    display: block;
    height: 35px;
    border: #ddd solid 1px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 22px;
    padding: 6px 10px;
}
.number-days{
    display:block;
    width: 325px;
    margin: 8px auto 0px  auto;

}
.number-days [class*="col-"]:first-child{
    padding-top: 8px;
}
.number-days span:last-child{
    display: inline-block;
    margin-left: 8px;
}
.days-number{
    display: inline-block;
    width: 150px;
    vertical-align: top;
}
.index-select{
    display: inline-block;
    vertical-align: top;
    min-width: 250px;
    float: right;
}
.file-name{
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
}
.and-section-item{
    display: inline-block;
    margin-right: 20px;
}
.and-item-radio, .and-item-label{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.and-item-radio{
    width: 30px;
}
.and-item-label span, .and-item-label a{
    display: block;
    color: #00aeef;
}
.and-item-label span{
    text-transform: uppercase;
    font-size: 14px;
}


/*Radio button and Checkbox*/

.control {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 18px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control-indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border: #00aeef solid 2px;
}

.control-radio .control-indicator {
    border-radius: 50%;
}

.control:hover input ~ .control-indicator,
.control input:focus ~ .control-indicator {
    background: #fff;
    
}

.control input:checked ~ .control-indicator {
    background: #fff;
}

.control:hover input:not([disabled]):checked ~ .control-indicator,
.control input:checked:focus ~ .control-indicator {
    background: #fff;
}

.control-indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control-indicator:after {
    display: block;
}

.control-checkbox .control-indicator:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #797979;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-radio .control-indicator:after {
    left: 4px;
    top: 4px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #00aeef;
}
.dateRange-test{
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
    padding: 0px 5px;
    height: 36px;
    line-height: 36px;
    position: relative;
    margin-right: 6px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.dateRange-test:last-child{
    margin-right: 0px !important;
}
.user-details .user-tags{
    display: block;
    clear: both;
    float: left;
    margin-bottom: 4px;
    padding: 4px 8px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #555;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.user-details .table th:first-child{
    min-width: 100px;

}

.user-details .table th:nth-child(2),
.user-details .table th:nth-child(3),
.user-details .table th:last-child{
    min-width: 200px;
}
.to-height-2{
    min-height: 450px;

}
.user-details .table td span.date{
        font-size: 14px;
        margin-right: 0px !important; 

}

.color-empty-tag{
    display: block;
    padding-left: 10px;
}
.color-empty-tag .rc-checkbox{
    display: inline-block;
    margin-right: 4px;
}
.Select-placeholder{
    font-weight: 300 !important;
}
.show-hide-table{
    cursor: pointer;
    color: #23527c;
}
.demographic-table{
    margin-top: 12px;
}
.demographic-block{
    display: block;
    margin: 0;
    padding: 0 8px;
}
.demographic-block ul{
    display: block;
    background: #f5f5f5;
    margin: 0;
    padding: 6px 10px;
}
.demographic-block li{
    display: inline-block;
    position: relative;
    margin-right: 15px;
}
.demographic-block li span{
    display: inline-block;
    margin-right: 6px;
}
.demographic-block li:before{
    position: absolute;
    content: '|';
    right: -8px;
    top: -1px;
}
.demographic-block li:last-child:before{
    content: '';
}
.demographic-block li i{
    display: inline-block;
    margin-right: 6px;
}
.close-button{
    float: right;
    cursor: pointer;
}
.remove-btn{
    margin-left: 4px;
    margin-top: 1px;
}
.delete-btn{
    margin-left: 15px;
    cursor: pointer;
}
footer{
    display: block;
    margin: 0;
    padding: 0;
}
.footer-inner{
    display: block;
    padding: 4px 0;
}
.preload-loading{
    color: red;
}
.preload-loaded{
    color: green;
}
/*===========
bootstrap override
===============*/
.table > thead > tr > th, .table > tbody > tr > td{
    vertical-align: middle;

}
.table > thead > tr > th:focus, .table > tbody > tr > td:focus{
    border: 0px !important;

}
.table th .panel{
    margin: 0px;
}
.panel-primary{
    border-color:#595a60 !important;
}
.panel-primary > .panel-heading{
    background: #595a60 !important;

}
.label-default{
    background: #f1f1f1;
    color: #555;
}
.breadcrumb{
    margin: 0px;
}
